/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    border:0;
    /*set the global size to 10px for easy rem calculations*/
    font-size: 10px;
}


body {
    font-family: "Exo", sans-serif;
    text-align: center;
}
p {
    font-size: 1.6rem;
}
hr {
    display: none;
}
    
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
}
/*callout idea is based on Whiskey drop and Love running projects*/
.callout-container {
    height: 100vh;
    background: url("../images/yoga.jpg") no-repeat center center fixed;
    background-size: cover;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation-name: hero-zoom;
            animation-name: hero-zoom;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; 
}
@-webkit-keyframes hero-zoom {
    from{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    to{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}
@keyframes hero-zoom {
    from{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    to{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}
.membership-container {
    padding:0;
}
/*Navbar*/
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}
.navbar {
    margin-bottom: 0;
    border: 0;
    width:100%;
    background-color: rgba(0, 0, 0, .01);
    z-index: 1;
}
.navbar-light .navbar-brand {
    color: rgba(9,21,64,.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(9,21,64,1);
    letter-spacing: .4rem;
}
.navbar-brand {
    font-size: 180%;
    margin-left: 3rem;
}
.nav-item{
    color: #091540;
}
.navbar .navbar-toggler {
    border: 0;
}
/*Jumbotron*/
.jumbotron {
    background-color: transparent;
}
.jumbotron-header {
    color: #091540;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.jumbotron p {
    color: #40798C;
    font-weight: bold;
}
/*Buttons*/
.btn--cta{
    border-radius: 2.5rem;
    width: 16rem;
}
.btn--blue {
    color: white;
    background-color: #091540;
    border-color: #091540;
}
.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    color: white;
    background-color: #40798C;
    border-color: #40798C;
}
.btn-light {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

/*Services*/
.Services {
    margin-top: 1.5rem;
}

.bg-color-services {
    background-color: #fff;
}

/*Membership section taken from love Running lessons and adapted to my project*/

#membership {
    background-image: url(../images/membership.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
#membership div {
    clear: both;
    border: 1px solid white;
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 32.80%;
    height: 20rem;
    padding: 1rem 0 0 1rem;
    text-align: center;
    display: inline-table;
    padding-left: 1px;
    
}

/*Footer*/
/*Footer section taken from love running project and from myresume bootstrap mini project*/
footer {
  background-color: #091540;
  color: #fafafa;
  margin-top: 10rem;
}
.social-network {
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}
.social-network li {
  display: inline;
}
.social-network i {
  font-size: 3rem;
  margin: 1%;
  padding: 5%;
  color: #fafafa;
  transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
}
.social-network i:hover {
    color: #40798C;
}



/*Contact Form*/
.form-section {
    clear: both;
    background: url("../images/contact.jpg");
    background-size: cover;
    background-position: center;
    height: 100rem;
}
.signup-form {
  margin-top: 15rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  max-width: 60rem;
  position: absolute;
  left: 10%;
  right: 10%;
  padding: 3rem;
}
.signup-form > h2 {
  color: #fafafa;
  margin-bottom: 2rem;
}
.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin:.5rem 0 2rem;
  border: 1px solid #fafafa;
  border-radius: .2rem;
}
.text-input:hover{
  border-color: #40798C;
}
.join-button {
  margin-top: 5rem;
  border-radius: 1.2rem;
  padding: 1.5rem 3.2rem 1.5rem 3.2rem;
  text-align: center;
  font-size: 100%;
}
.join-button:hover{
  background-color: #40798C;
}
.text {
    margin-top: 1.5rem;
    text-align: left;
}
#textarea {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 12.5rem;
    margin:.5rem 0 2rem;
    border: 1px solid #fafafa;
    border-radius: .2rem;
}
#textarea:hover {
    border-color: #40798C;
}

/*Images page code taken from Start Bootsrap and adpated to own project*/


.images{
    margin-top: 12rem;
}

/*404 error page*/

.invalid {
    font-size: 1.5rem;
}

.link {
    font-size: 1.8rem;
}