* {
    margin: 0;
    padding: 0;
    border:0;
}


body {
    font-family: "Exo", sans-serif;
    text-align: center;
}

hr {
    display: none;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    
    
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*callout*/

.callout-container {
    height: 100vh;
    background: url("../images/yoga.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display:flex;
    align-items: center;
    justify-content: center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
}

@keyframes hero-zoom {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}

.membership-container {
    padding:0;
}

/*Navbar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.01);
    z-index: 1;
}

.navbar-light .navbar-brand {
    color: rgba(9,21,64,.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(9,21,64,1);
    letter-spacing: 4px;
}

.navbar-brand {
    font-size: 180%;
    margin-left: 30px;
}

.nav-item{
    color: #091540;
}


.navbar .navbar-toggler {
    border: 0;
}




/*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #091540;
    font-weight: bold;
    margin-bottom: 15px;
}

.jumbotron p {
    color: #40798C;
    font-weight: bold;
}

/*Buttons*/

.btn--cta{
    border-radius: 25px;
    width: 160px;
}

.btn--blue {
    color: white;
    background-color: #091540;
    border-color: #091540;
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    color: white;
    background-color: #40798C;
    border-color: #40798C;
}

.btn-light {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}


/*Membership offers*/

#membership {
    background-image: url(../images/membership.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#membership div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    width: 32.80%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 4px;
}

/*Membership section taken from my resume project and adapted to my project*/

.bg-color-services {
    background-color: #fff;

}


/*Footer*/
/*Footer section taken from love running project and from myresume bootstrap mini project*/

footer {
  background-color: #091540;
  color: #fafafa;
  margin-top: 150px;
}

.social-network {
    padding-bottom: 15px;
}

.social-network li {
  display: inline;
}

.social-network i {
  font-size: 30px;
  margin: 1%;
  padding: 5%;
  color: #fafafa;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-network i:hover {
    color: #40798C;
}

.gmap_canvas {
    padding-bottom: 15px;
}


/*Media query*/

@media screen and (max-width: 1393px){
    #membership div{
        width: 100%;
        clear: both;
        height: 150px;
        border-style: solid;
        border-bottom-width: 1px;
        border-color: #fff;
        padding: 0;
    }
}


/*Contact Form*/

.form-section {
    clear: both;
    background: url("../images/contact.jpg");
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.signup-form {
  margin-top: 150px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 600px;
  position: absolute;
  left: 10%;
  right: 10%;
  padding: 30px;
}

.signup-form > h2 {
  color: #fafafa;
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin:5px 0 20px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input:hover{
  border-color: #40798C;
}

.join-button {
  margin-top: 50px;
  border-radius: 12px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
}

.join-button:hover{
  background-color: #40798C;
}

.text {
    margin-top: 15px;
    text-align: left;
}

#textarea {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 125px;
    margin:5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

#textarea:hover {
    border-color: #40798C;
}